.img_container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-color: skyblue;
	height: 100%;
}
.peepo {
	width: 300px;
	height: 300px;
}
.text {
	font-family: Arial;
	text-align: center;
}